<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.9" name="com.mysql">
    <resources>
        <resource-root path="mysql-connector-j-9.7.0.jar"/>
    </resources>
    <dependencies>
        <module name="java.base"/>
        <module name="java.logging"/>
    </dependencies>
    <provides>
        <service name="java.sql.Driver">
            <implementation name="com.mysql.cj.jdbc.Driver"/>
        </service>
    </provides>
</module>
