<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="com.cyberark.jdbc">
    <resources>
        <resource-root path="CyberArk.jdbc.JBoss.jar"/>
    </resources>
    <dependencies>
        <module name="org.jboss.logging"/>
        <module name="javax.api"/>
        <!-- <module name="com.cyberark.javapasswordsdk"/>
        <module name="com.oracle.jdbc"/>
        <module name="com.imb.db2"/>
        <module name="com.ms.sql"/> -->
    </dependencies>
</module>